//- BEGIN
		style.
			.nav-components { padding-top:10px; display: flex;justify-content: space-between;flex-wrap: wrap;width:100%;bacgkround:#ccc;order:-9999; }
			.nav-components a { display:inline-block; padding:3px 7px; margin:1px; background:teal; color:white; }
			.nav-components a.active,.nav-components a:hover { background:black; color:yellow; }
		div(class='nav-components')
			a(href='',style='background-color:red;') Inicio
			a#nc_common(href="#{uri}?component=common") common
			a#nc_menu_left(href="#{uri}?component=menu_left") menu_left
			a#nc_block_gallery(href="#{uri}?component=block_gallery") block_gallery
			a#nc_block_post(href="#{uri}?component=block_post") block_post
			a#nc_header_pre(href="#{uri}?component=header_pre") header_pre
			a#nc_header(href="#{uri}?component=header") header
			a#nc_banner(href="#{uri}?component=banner") banner
			a#nc_home_block_libros(href="#{uri}?component=home_block_libros") home_block_libros
			a#nc_home_block_ventas(href="#{uri}?component=home_block_ventas") home_block_ventas
			a#nc_home_block_welcome(href="#{uri}?component=home_block_welcome") home_block_welcome
			a#nc_page_post(href="#{uri}?component=page_post") page_post
			a#nc_block_gallery_products(href="#{uri}?component=block_gallery_products") block_gallery_products
			a#nc_block_gallery_videos(href="#{uri}?component=block_gallery_videos") block_gallery_videos
			a#nc_gallery_products(href="#{uri}?component=gallery_products") gallery_products
			a#nc_product_detail(href="#{uri}?component=product_detail") product_detail
			a#nc_form_consulta(href="#{uri}?component=form_consulta") form_consulta
			a#nc_form_contact(href="#{uri}?component=form_contact") form_contact
			a#nc_footer(href="#{uri}?component=footer") footer
			a#nc_footer_post(href="#{uri}?component=footer_post") footer_post
			a#nc_products_reel(href="#{uri}?component=products_reel") products_reel
			a#nc_home_block_links(href="#{uri}?component=home_block_links") home_block_links
			a#nc_whatsapp_button(href="#{uri}?component=whatsapp_button") whatsapp_button
			a#nc_block_habitaciones(href="#{uri}?component=block_habitaciones") block_habitaciones
			a#nc_block_habitacion(href="#{uri}?component=block_habitacion") block_habitacion
			a#nc_home_block_importaciones(href="#{uri}?component=home_block_importaciones") home_block_importaciones
		if _GET['component']=='common'
			script document.getElementById('nc_common').classList.add('active');
			include includes/common.jade
		if _GET['component']=='menu_left'
			script document.getElementById('nc_menu_left').classList.add('active');
			include includes/menu_left.jade
		if _GET['component']=='block_gallery'
			script document.getElementById('nc_block_gallery').classList.add('active');
			include includes/block_gallery.jade
		if _GET['component']=='block_post'
			script document.getElementById('nc_block_post').classList.add('active');
			include includes/block_post.jade
		if _GET['component']=='header_pre'
			script document.getElementById('nc_header_pre').classList.add('active');
			include includes/header_pre.jade
		if _GET['component']=='header'
			script document.getElementById('nc_header').classList.add('active');
			include includes/header.jade
		if _GET['component']=='banner'
			script document.getElementById('nc_banner').classList.add('active');
			include includes/banner.jade
		if _GET['component']=='home_block_libros'
			script document.getElementById('nc_home_block_libros').classList.add('active');
			include includes/home_block_libros.jade
		if _GET['component']=='home_block_ventas'
			script document.getElementById('nc_home_block_ventas').classList.add('active');
			include includes/home_block_ventas.jade
		if _GET['component']=='home_block_welcome'
			script document.getElementById('nc_home_block_welcome').classList.add('active');
			include includes/home_block_welcome.jade
		if _GET['component']=='page_post'
			script document.getElementById('nc_page_post').classList.add('active');
			include includes/page_post.jade
		if _GET['component']=='block_gallery_products'
			script document.getElementById('nc_block_gallery_products').classList.add('active');
			include includes/block_gallery_products.jade
		if _GET['component']=='block_gallery_videos'
			script document.getElementById('nc_block_gallery_videos').classList.add('active');
			include includes/block_gallery_videos.jade
		if _GET['component']=='gallery_products'
			script document.getElementById('nc_gallery_products').classList.add('active');
			include includes/gallery_products.jade
		if _GET['component']=='product_detail'
			script document.getElementById('nc_product_detail').classList.add('active');
			include includes/product_detail.jade
		if _GET['component']=='form_consulta'
			script document.getElementById('nc_form_consulta').classList.add('active');
			include includes/form_consulta.jade
		if _GET['component']=='form_contact'
			script document.getElementById('nc_form_contact').classList.add('active');
			include includes/form_contact.jade
		if _GET['component']=='footer'
			script document.getElementById('nc_footer').classList.add('active');
			include includes/footer.jade
		if _GET['component']=='footer_post'
			script document.getElementById('nc_footer_post').classList.add('active');
			include includes/footer_post.jade
		if _GET['component']=='products_reel'
			script document.getElementById('nc_products_reel').classList.add('active');
			include includes/products_reel.jade
		if _GET['component']=='home_block_links'
			script document.getElementById('nc_home_block_links').classList.add('active');
			include includes/home_block_links.jade
		if _GET['component']=='whatsapp_button'
			script document.getElementById('nc_whatsapp_button').classList.add('active');
			include includes/whatsapp_button.jade
		if _GET['component']=='block_habitaciones'
			script document.getElementById('nc_block_habitaciones').classList.add('active');
			include includes/block_habitaciones.jade
		if _GET['component']=='block_habitacion'
			script document.getElementById('nc_block_habitacion').classList.add('active');
			include includes/block_habitacion.jade
		if _GET['component']=='home_block_importaciones'
			script document.getElementById('nc_home_block_importaciones').classList.add('active');
			include includes/home_block_importaciones.jade
		//- FINISH