-item_item=item

if item_item.photos
	-classgalle='m6'
	-classtext='m6'
else
	-classgalle='m7 noshow'
	-classtext='m12'

li(class="col block_habitacion #{li_class}")
	.row
		.galle.col.s12(class=classgalle)
			.col
				.foto
					//- a.zoom
					//- img(class="responsive-img",src="#{item_item.photos[0]}")
					//- slider
					.slider: ul.slides
						each foto in item_item.photos
							li: img(src="#{foto}")
						//- 
					.orange
					a(class="name",href="#{item_item.url}") #{item_item.name}
					a(class="more btn",href="#{item_item.url}") VER MAS >
				.train
					each foto in item_item.photos
						div: a: img(class="responsive-img",src="#{foto}")

		.text.col.s12(class=classtext)
			if !item_item.photos
				h3(class="titu"): a(href="#{item_item.url}") #{item_item.name}
			.col
				a(class="servicio",href="#{item_item.url}") #{item_item.name}
				ul.collapsible(data-collapsible="accordion")
					li
						.collapsible-header.active Descripción
						.collapsible-body.active: p!= item_item.text
					li
						.collapsible-header Ficha
						.collapsible-body.ficha: p!= item_item.text2
					li
						.collapsible-header Garántías
						.collapsible-body: p #{item_item.text3}
					li
						a.collapsible-header(href="#{item_item.url}#cotizar") Cotizar