include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include common/header.jade

		//- include blocks/breadcrumb.jade

		//- include blocks/image.jade

		main(class="container row")
			//- .wide
			div(class="post project")
				+card_sended(message)
				div(class="cabecera")


					if(breadcrumb)
						ol.breadcrumb
							each item in breadcrumb
								if(item.class)
									li(class="#{item.class}"): +item(item)
								else
									li: +item(item)
					//- h1(class="cparts")
					//- 	+item(post)
					//- -main=false
					div(class="contacts cparts")
						//- span(class="phone"): a(href="tel:01#{post.phone}") #{post.phone}
						span(class="whatsapp"): a(href="tel:#{web_whatsapp}") #{web_whatsapp}
						//- span(class="email hide-on-small-only"): a(href="mailto:#{post.email}",target="_top") #{post.email}
						span(class="cotizar hide-on-med-and-down"): a(href="#cotizar") Consultar

				.row

					div(class="col s12 l12")

						include includes/product_detail

					include includes/form_consulta


		//- .actions
		//- 	ul
		//- 		li: a(class="call",href="tel:01#{post.phone}") Llamar
		//- 		li: a(class="email",href="mailto:#{post.email}",target="_top") Email
		include common/footer.jade

		include common/foot.jade

