-items = gallery.items
-name  = gallery.name
-sub   = gallery.sub

if(items)
	div(class="galleries section scrollspy",id="gallery-video-#{index}")
		h4 #[i(class="icon-pictures")] #{name}
		h5 #{sub}
		div(class="row")
			each item in items
				div(class="col #{responsive}") 
					div(class="item z-depth-1")
						a(class="venobox",data-type="youtube",href="http://youtu.be/#{item.codigo}")
							if(item.name)
								img(src="#{item.img}",
									class="responsive-img",
									alt="#{item.name}",
									title="#{item.name}")
							else
								img(src="#{item.img}",
									class="responsive-img")
						h6 #{item.name}


