if(post)
	div(class="post")

		if(menu_post)
			div(class="col s3 hide-on-med-and-down")

				if(group_post)
					h2 #{group_post}
					
				ul(class="menu_post collection")
					+menu_collection(menu_post)

		div(class=menu_post?"col m12 l9":"col s12")
			article(class="card-panel")

				if(post.img)
					div(class="col s5 photo")
						img(src="#{post.img}",class="responsive-img")
				
				if(post.img)
					- classs="s7"
				else
					- classs="s12"


				div(class="#{classs} col text")

					div(class="card-title")

						if(main)
							h1: +item(post)
							-main=false
						else
							h2: +item(post)

					if(post.sub)
						h3 #{post.sub}

					if(post.html)
						div!= post.html


