header.navbar-fixed

	if(is_home)
		h1 #{web_name}
		-main = false

	include ../../jade/includes/header_pre
	nav
		.container
			
			+button_side_nav()

			//- div(class="phones hide-on-med-and-down")!= header_phones
				
			//- menu_top
			//- div #{web_name} #{baseurl}
			ul(class="menu menu_top")
				li.brand-logo: a(href="#{link_home}",title="#{web_name}")
					img(src="#{pub_img}#{logo}",title="#{web_name}",alt="#{web_name}")
				if (!localhost)
					li.header-fb
						.contain
							.fb-like(
								data-href="#{baseurl}",
								data-layout='standard', 
								data-action='like', 
								data-size='small', 
								data-show-faces='true', 
								data-share='true')
				+menu_items(menu_top)
				

//- menu_left
include ../../jade/includes/menu_left