script(src="#{ven_js}jquery-2.1.4.min.js")
script(src="#{ven_js}materialize.min.js")
//- script(src="#{ven_js}require.js",data-main="#{ven_js}")
script(src="#{ven_js}venobox.min.js")
script(src="#{pub_js}app.js")
