//- article.card-panel.product_detail
article(class="card-panel galleries product_detail")
	.row
		.col.s12.l6.main
			//- h2 Descripción
			h1 #{post.name}
			h3 #[strong CÓDIGO]: #{post.codigo}
			h3 #[strong MARCA]: #{post.marca}
			.fb-like(
				data-layout='standard', 
				data-action='like', 
				data-size='small', 
				data-show-faces='false', 
				data-share='true')
			div!= post.html
			if(post.precio!='S/.')
				.precio #[strong PRECIO] : #{post.precio}
			if(post.oferta!='')
				.oferta #{post.oferta}			

			//- if post.adjunto
			//- 	div
			//- 		a(href="#{post.adjunto}",class="waves-effect waves-light btn-large right-align download") #[i] Descargar Ficha Técnica

		.col.s12.l6.fotos
			.row
				.col.s3.m2.train
					each foto in fotos
						div: a: img(src="#{foto.img}")

				div(class="col s9 m10 foto")
					a(class="zoom",href="#{fotos[0].img}")
						img.responsive-img(src="#{fotos[0].img}")