include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include includes/header

		//- include blocks/breadcrumb.jade

		//- include blocks/image.jade

		- post.name= projects.name
		- items = projects.items

		main.container.row
			.wide
				article.page_post
				if(post)
					div(class="post")
						if(menu_post)
							div(class="col s3 hide-on-med-and-down")

								if(group_post)
									.card-title
										h2 #{group_post}
									
								//- ul(class="menu_post collection")
									//- +menu_collection(menu_post)
								ul(class="menu_post collection collapsible collapsible-accordion",id="menu_left")
									+menu_collection_advanced(menu_post)

						div(class=menu_post?"col m12 l9":"col s12")
							if post.titleout
								div(class="card-title")
									if(main)
										h1: +item(post)
										-main=false
									else
										h2: +item(post)

							article.card-panel
								if !post.titleout
									.card-title
										if(main)
											h1: +item(post)
											-main=false
										else
											h2: +item(post)

								if(items)
									.productos_item.row
										ul.col.s12
											.row
												each productos_item in items
													.card.col.s12
														.row
															.card-image.col.s12.m4
																a.row(href="#{productos_item.url}",title="#{productos_item.name}"): img(src="#{productos_item.img}")
															.card-content.col.s12.m8
																.fecha #{productos_item.sub}
																.card-title: a(href="#{productos_item.url}",title="#{productos_item.name}") #{productos_item.name}
																.texto #{productos_item.text}
		

								if(post.sub)
									h3 #{post.sub}
								if post.imgfirst
									if(post.img)
										div.center-align
											img(src="#{post.img}",class="responsive-img")
								if(post.html)
									div!= post.html
								if !post.imgfirst
									if(post.img)
										div.center-align
											img(src="#{post.img}",class="responsive-img")
								-li_class = "s12 m6 l6"
								//- include ../../jade/includes/block_gallery.jade
		//- .actions
		//- 	ul
		//- 		li: a(class="call",href="tel:01#{post.phone}") Llamar
		//- 		li: a(class="email",href="mailto:#{post.email}",target="_top") Email
		include includes/footer.jade

		include common/foot.jade

