.block_ad
	.ad: a(href="pagina/traducciones/88"): img(src="#{pub_img}/terranova-traducciones.jpg")
	.ad: a(href="pagina/cursos-de-ingles/89"): img(src="#{pub_img}/terranova-ingles.jpg")
	.block_publicidad
		+box_facebook("https://www.facebook.com/TerraNovaLanguageCenter/")
		//- h3 Publicidad
		//- .ad: a(href="http://www.taxiremisselima.com/",target="_blank"): img(src="#{pub_img}/taxi-remisse.jpg")
	.ad
		li: a(class="facebook",href="#{web_facebook}",target="_blank")
		li: a(class="twitter",href="#{web_twitter}",target="_blank")
		li: a(class="youtube",href="#{web_youtube}",target="_blank")
