
//- include ../../jade/includes/whatsapp_button

//- 888888  dP"Yb   dP"Yb  888888 888888 88""Yb
//- 88__   dP   Yb dP   Yb   88   88__   88__dP
//- 88""   Yb   dP Yb   dP   88   88""   88"Yb
//- 88      YbodP   YbodP    88   888888 88  Yb
footer(class="bg-local md:text-center text-white pt-4 pb-3 px-6 lg:rounded-b-2xl font-bold w-full order-last",
		style="background-image: url('#{pub_img}footer_bg2.jpg')"
	)
	ul(class="md:px-32 md:flex md:flex-wrap md:justify-center")
		li(class="mr-3") #[span(class="text-tertiary") Teléfono:] #[span (01) 444-3550] 
		li(class="mr-3") #[span(class="text-tertiary") Celular:] #[span 985-833-322] 
		li(class="mr-3") #[span(class="text-tertiary") Nextel:] #[span 610*4520] 
		li(class="mr-3") #[span(class="text-tertiary") Correo:] #[span informes@blindajeautosperu.com] 
	.copy(class="text-tertiary") © 2014 BLINDAJE AUTOS PERU :: ALTHON CORPORATION
	.rights(class="font-extrabold mb-4") Todos los derechos reservados
	
	a.by-prodiserv(
		class="text-xs text-gray-500 text-center block hover:underline",
		href="https://prodiserv.com",
		rel="external",
		title="by Prodiserv",
		target="_blank") by PRODISERV


//- include ../../jade/includes/footer_post
