//- 88  88 888888    db    8888b.  888888 88""Yb
//- 88  88 88__     dPYb    8I  Yb 88__   88__dP
//- 888888 88""    dP__Yb   8I  dY 88""   88"Yb
//- 88  88 888888 dP""""Yb 8888Y"  888888 88  Yb
header(class="bg-primary mb-5 mt-0 py-2 px-3 lg:px-10 w-full fixed lg:relative top-0 flex justify-between items-center shadow-2xl order-first")
	if is_home
		h1(class="hidden"): a(href="#{link_home}",title="#{web_name}") #{web_name}
	a.logo(class="",
		title="#{web_name}",
		href="#{link_home}")
		img(class="h-12 lg:h-full inline-block",
			src="#{pub_img}#{logo}",
			title="#{web_name}",
			alt="#{web_name}")
		img(class="h-4 sm:h-6 lg:h-full lg:mb-4 ml-1 inline-block" ,
			src="#{pub_img}blindaje-name.jpg",
			title="#{web_name}",
			alt="#{web_name}")
		//- h1(class="text-white text-xl font-black") ALTHON CORPORATION
	
	a.menuu_button(class="hidden ",href="#")
		svg(class="fill-current text-white inline-block h-8 w-8 ",
			viewBox='0 0 20 20')
			path(d='M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,9 L20,9 L20,11 L0,11 L0,9 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z')

