include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include includes/header

		//- include blocks/breadcrumb.jade

		//- include blocks/image.jade
		main.container.row
			.wide
				article.page_post
				if(post)
					div(class="post")
						div("col s12")
							article.card-panel
								if(post.sub)
									h3 #{post.sub}							
								.card-title
									h1: +item(post)
								if post.imgfirst
									if(post.img)
										div.center-align
											img(src="#{post.img}",class="responsive-img")
								if(post.html)
									div!= post.html
								if !post.imgfirst
									if(post.img)
										div.center-align
											img(src="#{post.img}",class="responsive-img")
								//- include ../../jade/includes/block_gallery.jade
		//- .actions
		//- 	ul
		//- 		li: a(class="call",href="tel:01#{post.phone}") Llamar
		//- 		li: a(class="email",href="mailto:#{post.email}",target="_top") Email
		include includes/footer.jade

		include common/foot.jade

