.micrositios#azure
	div(class="col s12")
		p Microsoft Azure es una colección cada vez mayor de servicios integrados en la nube (análisis, proceso, bases de datos, móviles, redes, almacenamiento y Web) para moverse con más rapidez, llegar más lejos y ahorrar dinero. Esto es lo que puede hacer con Azure.

		p Consiga mayor productividad: Cualquier desarrollador o profesional de TI puede ser productivo con Azure. Las herramientas integradas, las plantillas precompiladas y los servicios administrados facilitan en gran medida la compilación y administración de aplicaciones empresariales, para móviles, la Web y el Internet de las cosas (IoT) con rapidez, usando los conocimientos que ya tiene y las tecnologías que ya conoce.#[br]
		| Microsoft es también el único proveedor situado como líder en los cuadrantes mágicos de Gartner de Infraestructura en la nube como servicio, Plataforma de aplicaciones como servicio y Servicios de almacenamiento en la nube por segundo año consecutivo.

		p Utilice una plataforma abierta y flexible: Azure admite la mayor selección de sistemas operativos, lenguajes de programación, marcos, herramientas, bases de datos y dispositivos. Ejecute contenedores de Linux con integración de Docker; compile aplicaciones con JavaScript, Python, .NET, PHP, Java, Node.js; cree back-ends para dispositivos con iOS, Android y Windows. Azure admite las mismas tecnologías en las que ya confían millones de desarrolladores y profesionales de TI.

	div(class="col s12 soluciones")
		h3 Soluciones populares

		div(class="col s12 m6 l4")
			.solucion
				h4 Aplicaciones web
				.svg!=svg_aplicacion_web
				p Implemente y escale sitios web modernos en cuestión de segundos
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/app-service/") Mas información
		div(class="col s12 m6 l4")
			.solucion
				h4 Máquinas virtuales
				.svg!=svg_maquinas_virtuales
				p Lance Windows Server y Linux en cuestión de minutos
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/virtual-machines/") Mas información
		div(class="col s12 m6 l4")
			.solucion
				h4 Base de datos SQL
				.svg!=svg_base_sql
				p SQL relacional administrada Base de datos como servicio
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/sql-database/") Mas información		
		div(class="col s12 m6 l4")
			.solucion
				h4 Aprendizaje automático
				.svg!=svg_aprendizaje_automatico
				p Potentes análisis predictivos basados en la nube
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/machine-learning/") Mas información
		div(class="col s12 m6 l4")
			.solucion
				h4 Back-ends móviles
				.svg!=svg_backend_moviles
				p Cree y hospede el servidor back-end para cualquier aplicación móvil
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/cloud-services/") Mas información
		div(class="col s12 m6 l4")
			.solucion
				h4 RemoteApp
				.svg!=svg_remoteapp
				p Implemente aplicaciones cilente Windows en la nube, ejecutar en cualquier dispositivo
				a(target="_blank",href="https://azure.microsoft.com/es-es/services/remoteapp/") Mas información

	div(class="col s12")
		p Amplíe su TI existente: Algunos proveedores de servicios en la nube obligan a elegir entre un centro de datos del cliente y la nube. No es el caso en Azure, que se integra fácilmente con su entorno de TI actual a través de la mayor red de conexiones privadas seguras, soluciones de base de datos y almacenamiento híbridos, así como funciones de residencia y cifrado de datos, de forma que sus activos permanecen justo donde los necesita. Incluso puede ejecutar Azure en su propio centro de datos con Azure Stack. Las soluciones de nube híbrida de Azure ofrecen lo mejor de ambos mundos: más opciones de TI, menos complejidad y menos costos.

		p Escale de acuerdo con sus necesidades, pague por uso: Los servicios de Azure de pago por uso se pueden escalar o reducir verticalmente con rapidez para adaptarse a la demanda, de forma que solo paga por lo que utiliza. La facturación por minuto y el compromiso de ajustarnos a los precios de la competencia para los servicios de infraestructura más populares, como proceso, almacenamiento y ancho de banda, hacen que siempre obtenga la mejor relación calidad-precio.

		p Proteja sus datos: Sabemos que algunas organizaciones están aún recelosas de la nube. Este es el motivo por el que Microsoft ha adoptado un compromiso líder en el sector de proteger sus datos y su privacidad. Fuimos el primer proveedor de servicios en la nube reconocido por las autoridades de protección de datos de la Unión Europea por nuestro compromiso de cumplir la exigente legislación de la UE en cuanto a privacidad.

	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Proceso
				ul
					li: a Windows Virtual Machines
					li: a Linux Virtual Machines
					li: a Cloud Services
					li: a Remote App
					li: a Service Fabric
					li: a Batch
					li: a Azure Container Service
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Web y móvil
				ul
					li: a Servicio de aplicaciones de Azure
					li: a Servicios móviles
					li: a Administración de API
					li: a Bases de datos centrales de notificaciones
					li: a Mobile Engagement
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Datos + Almacenamiento
				ul
					li: a SQL Database
					li: a DocumentDB
					li: a Redis Cache
					li: a Storage
					li: a StorSimple
					li: a Azure Search
					li: a SQL Sata Warehouse
					li: a SQL Server Strech Database
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Análisis
				ul
					li: a HDInsight
					li: a Aprendizaje automático
					li: a Análisis de transmisiones
					li: a Factoría de datos
					li: a Centros de eventos
					li: a Catálogo de datos
					li: a Almacén Data Lake
					li: a Análisis con Data Lake
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Redes
				ul
					li: a Red virtual
					li: a ExpressRoute
					li: a Administrador de tráfico
					li: a Ancho de banda
					li: a Equilibrador de carga
					li: a Puerta de enlace de VPN DNS
					li: a Application Gateway
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Integración híbrida
				ul
					li: a Servicio de Biztalk
					li: a Servicio Bus
					li: a Copia de seguridad
					li: a Recuperación de sitios
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Administración de identidades y acceso
				ul
					li: a Active Directory
					li: a Azure Active Directory B2C
					li: a Servicios de dominio de Azure Active Directory
					li: a Autenticación multifactor
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Multimedia y CDN
				ul
					li: a Servicios multimedia
					li: a CDN
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Servicios para desarrolladores
				ul
					li: a Visual Studio Team Service
					li: a Application Insights
					li: a Laboratorio de DevTest
	div(class="col s12 m4 l3")
		.gris.card
			.card-content
				h5 Administración
				ul
					li: a Programador
					li: a Automatización
					li: a Visión operativa
					li: a Almacén de claves
					li: a Centro de IoT de Azure
					li: a Centro de seguridad
	div(class="col s12")
		p Microsoft fue también el primero de los principales proveedores de servicios en la nube en adoptar el nuevo estándar internacional de privacidad en la nube, ISO 27018. También creamos Azure Government, una versión independiente de Azure diseñada para cumplir los rigurosos requisitos de cumplimiento de las agencias públicas de Estados Unidos.

		p Ejecute sus aplicaciones en cualquier lugar: Azure se ejecuta en una red mundial de centros de datos administrados por Microsoft en 22 regiones, es decir, más países y regiones que la competencia de Amazon Web Services y Google Cloud juntos. Esta superficie mundial de rápido crecimiento aporta montones de opciones para ejecutar aplicaciones y asegurar un gran rendimiento para el cliente. Azure es también el primer proveedor de nube multinacional en China continental.

		p Tome decisiones más inteligentes: Los servicios de análisis predictivo de Azure como Aprendizaje automático, Análisis de Cortana y Análisis de transmisiones, están redefiniendo la inteligencia empresarial. Tome decisiones más inteligentes, mejore el servicio a los clientes y descubra nuevas posibilidades de negocio con sus datos estructurados, no estructurados y de streaming del Internet de las cosas.

	ul.checks
		li(class="col s12 m6") Sin costos por adelantado
		li(class="col s12 m6") Pague solo por lo que usa
		li(class="col s12 m6") Sin tarifas de cancelación
		li(class="col s12 m6") Facturación por minuto

	div(class="col s12")
		p Cuente con un servicio en la nube de confianza: Desde proyectos pequeños de desarrollo y pruebas hasta lanzamientos internacionales de productos, Azure está diseñado para controlar cualquier carga de trabajo. Más del 57 % de las empresas de Fortune 500 confían en Azure, que ofrece contratos de nivel de servicio para empresas, soporte técnico ininterrumpido y supervisión continua del estado de los servicios. Entre los clientes se encuentran Skanska, Heineken, 3M, Dyson, Paul Smith, Mazda, GE Healthcare, Trek, McKesson, Milliman, Towers Watson, NBC Sports, TVB y muchos, muchos más.

		p Microsoft Azure permite implementar infraestructuras y servicios con rapidez para satisfacer todas sus necesidades empresariales. Puede ejecutar aplicaciones basadas en Windows y Linux en 22 regiones de centros de datos de Azure, ofrecidas con contratos de nivel de servicio de nivel empresarial.

		p Suscríbase y comience a usar una versión de evaluación hoy mismo. Llámenos al número +51 1 429-0000 si tiene alguna pregunta sobre los precios o la funcionalidad de Azure.

		p
			img(class="responsive-img",src="#{pub_img}azure1.png")
			img(class="responsive-img",src="#{pub_img}azure2.png")


