.infraestructura#servidores
	div(class="col s12")
		p: strong ¿Deseas modernizar e integrar la información de tu empresa?
		p Adquirir un server o servidor es un equipo que, formando parte de una red, te provee servicios a tus diferentes usuarios, este asesoramiento es fundamental para dimensionar el equipo adecuado que crezca con tu empresa. 
		p Hace un tiempo la importancia de contar con un servidor estaba centrada en poder compartir archivos e impresoras. Hoy la importancia de un servidor está centrada en poder habilitar servicios para una organización o empresa, es decir generar escenarios de movilidad, alta seguridad, acceso remoto a empleados, sitios web para clientes, integración con servicios de nube, por solo nombrar algunos escenarios. Los beneficios más importantes están en poder reducir costos al integrar las diferentes tecnologías existentes en la empresa, ser más seguros y tener mejor control para así evitar pérdidas de información.
		p Multimport, puede brindarte esta asesoría como apoyo porque contamos con las principales marcas como:

		.col.s12: a(target="_blank",href="https://www.hpe.com/lamerica/es/servers.html#tab=TAB2"): img(src="#{pub_img}i_hp.png")
		.col.s12.m4: img(src="#{pub_img}i_blades.png")
		.col.s12.m4: img(src="#{pub_img}i_torre.png")

		.col.s12: a(target="_blank",href="http://www.dell.com/learn/pe/es/pebsdt1/campaigns/server-solutions"): img(src="#{pub_img}i_dell.png")
		.col.s12.m4: img(src="#{pub_img}i_dell2.png")

		.col.s12: a(target="_blank",href="http://shop.lenovo.com/pe/es/systems/"): img(src="#{pub_img}i_lenovo.png")
		.col.s12.m4: img(src="#{pub_img}i_racks.png")
		.col.s12.m4: img(src="#{pub_img}i_torre2.png")