.infraestructura#storage
	div(class="col s12")
		p: strong Storage
		p: strong El riesgo y valor más alto en una empresa es perder su información.
		p Proteger y almacenar la información todavía es una tarea pendiente en las empresas. Las faltas de políticas de storage en las compañías responden a la ausencia de cultura respecto a la importancia de respaldar los datos, mientras que para otros a una excesiva confianza en que la pérdida de información no los afectará. Los proveedores de storage apuestan a que esta industria crecerá y que las empresas entenderán que guardar los datos es sinónimo de protección y que permite la continuidad del negocio.
		p Multimport y las principales empresas que brindan soluciones integrales de server + storage 

		.col.s12: a(target="_blank",href="https://www.hpe.com/lamerica/es/storage.html"): img(src="#{pub_img}i_hp2.png")
		.col.s12.m4: img(src="#{pub_img}i_hp3.png")

		.col.s12: a(target="_blank",href="http://shop.lenovo.com/pe/es/systems/almacenamiento"): img(src="#{pub_img}i_lenovo2.png")
		.col.s12.m4: img(src="#{pub_img}i_almacenamiento_1.png")
		.col.s12.m4: img(src="#{pub_img}i_almacenamiento_2.png")
		.col.s12.m4: img(src="#{pub_img}i_almacenamiento_3.png")
