include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header

		include blocks/breadcrumb

		include includes/banner

		//- solidez creatividad éxito
		section.experiencia

			.container.row

				h3 LA MEJOR EXPERIENCIA EN INGENIERIA COMERCIAL
				.col.s12.m4
					h4 Solidez
					p
						| #[img(src="#{pub_img}solidez.jpg")]
						| Cualquier Organización que cimiente su crecimiento en una clara estrategia enfocada en el cliente, sólidos procesos y el aprovechamiento de sus talentos se mantendrá en constante crecimiento.
				.col.s12.m4
					h4 Creatividad
					p
						| #[img(src="#{pub_img}creatividad.jpg")]
						| Estamos convencidos que la evolución resulta de la creatividad, el objetivo fundamental de cualquier evento o proyecto de consultoría debe ser generar nuevas formas de satisfacer al cliente.
				.col.s12.m4
					h4 Éxito
					p
						| #[img(src="#{pub_img}exito.jpg")]
						| Estamos convencidos que el éxito es un camino y no un destino, la correcta interpretación del entorno y la constante evolución de nuestras fortalezas son la base de las empresas triunfadoras.




		//- toda emprea comienza con un dominio
		section.comienza.parallax-container
			.parallax: img(src="#{pub_img}parallax2.jpg")

			.container

				h2 Toda empresa comienza con un dominio…

				p Tu sueño de iniciar tu propio negocio está más cerca de lo que tu piensas. Da el primer paso para convertirte en tu propio jefe.

				p
					| <strong>Dominio.-</strong> es Nombre o Dirección IP única reconocida en la red mundial de internet

				h6 www.tuempresa.com
				p
					| <strong>US$ 17.00</strong> (no incluye IGV, Contrato por 1 año)

				h6 www.tuempresa.net    
				p 
					| <strong>US$ 17.00</strong> (no incluye IGV, Contrato por 1 año)

				h6 www.tuempresa.org    
				p 
					| <strong>US$ 20.00</strong> (no incluye IGV, Contrato por 1 año)

				h6 • www.tuempresa.com.pe ó     www.tuempresa.pe        
				p 
					| <strong>US$ 50.00</strong> (no incluye IGV, Contrato por 1 año)



		include includes/home_block_planes

		//- clientes
		include includes/block_gallery_clients.jade


		//- notas brochure social
		include includes/home_block_notes



		include includes/footer

		include common/foot
