if(post)
	div(class="post")

		+card_sended(message)

		if(menu_post)
			div(class="col s12 l3")

				if(group_post)
					.card-title
						h2 #{group_post}
					
				//- ul(class="menu_post collection collapsible collapsible-accordion",id="menu_left")
				ul(class="menu_post collection collapsible collapsible-accordion",id="menu_left")
					//- +menu_collection(menu_post)
					+menu_items_collapsible(menu_post)
				div(id="cotizar",class="card")
					.card-content
						div(class="card-title"): h2 Cotizar
						p
						form(method="POST",name="contact")
							+form('contact',contact)
							+input_submit('ENVIAR')

		div(class=menu_post?"col m12 l9":"col s12")

			if post.titleout
				div(class="card-title")
					if(main)
						h1: +item(post)
						-main=false
					else
						h2: +item(post)

			article(class="card-panel")


				if !post.titleout
					div(class="card-title")
						if(main)
							h1: +item(post)
							-main=false
						else
							h2: +item(post)

				if(post.sub)
					h3 #{post.sub}

				if(post.html)
					div!= post.html
				
				if(post.img)
					div.center-align
						img(src="#{post.img}",class="responsive-img")

				div
					a(class="waves-effect waves-light btn-large right-align download") #[i] Descargar Ficha Técnica

				if(gallery.items)
					div(class="galleries #{type}")
						ul(class="#{ul_class}")

							each item in gallery.items

								li(class="#{item_responsive}")

									div(class="card")
										div(class="card-image")
											+img_item(item)

										div(class="card-content")
											if(type=='photos')
												h3 #{item.name}
											else
												h3: +item(item)
											if(item.sub)
												h4 #{item.sub}

- post = false

