include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include includes/header

		//- include blocks/breadcrumb.jade

		//- include blocks/image.jade

		main(class="container row")
			//- .wide
			div(class="post project")
				+card_sended(message)
				div(class="cabecera")

					h1(class="cparts") 
						+item(post)
					-main=false
				.row

					div(class="col s12 l3")

							
						//- ul(class="menu_post collection collapsible collapsible-accordion",id="menu_left")
						ul(class="menu_post collection collapsible collapsible-accordion",id="menu_left")
							+menu_collection(menu_post)
							//- +menu_items_collapsible(menu_post)

					div(class="col s12 l9")

						if post.html
							div(class="col s12")
								div!= post.html

									//- if post.html2
									//- 	a(class="btn modal-trigger",href="#modal1") Acabados
									//- 	div(id="modal1",class="modal")
									//- 		div(class="modal-content")
									//- 			h2 Acabados
									//- 			div!= post.html2

						if(gallery.items)
							div(class="galerias")
								ul(class="col s12")

									.row
										each item in gallery.items
											div(class="col s12 m6 l4")
												.card
													.card-image
														+img_item(item)
													.card-content
														h4: +item(item)
														div!= item.html
														p= item.text	





		.actions
			ul
				li: a(class="call",href="tel:01#{post.phone}") Llamar
				li: a(class="email",href="mailto:#{post.email}",target="_top") Email
				
		include includes/footer.jade

		include common/foot.jade

