-gallery=clients
-gallery.name='Marcas'
-li_class='s6 m6 l3'

//- section.home_gallery.parallax-container
section.home_gallery
	//- if gallery.parallax		
	//- 	.parallax: img(src="#{pub_img}#{gallery.parallax}")
	.container
		include ../../jade/includes/block_gallery