head
	base(href="#{base}")
	meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
	meta(name="viewport",content="width=device-width, initial-scale=1")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	title #{head_title}
	link(href="#{ven_css}materialize.min.css",type="text/css",rel="stylesheet",media="screen,projection")
	link(href="#{pub_css}app.css",type="text/css",rel="stylesheet",media="screen,projection")